/.obf. FS
/.vscode
/AzimListReaderDESYSchleifen.m
/ConnectorAzimListStrainDESYSchleifen.m
/CurrentToolChain.md
/DataAnalysis.ipynb
/insitu20x200.azimint.json
/insitu_DESY_field.m
/mtmep.npy
/output.png
/PicturePetra3.m
/SynchrotonDataprocessor.py
/test.ipynb
/VisulizeDetectorData.ipynb
/wind.txt
/windprofile.py
/az-venv

V1.0/Core/__pycache__/CoreModule.cpython-39.pyc
V1.0/Core/__pycache__/TaskQueue.cpython-39.pyc
V1.0/GUI/__pycache__/GUI.cpython-39.pyc
V1.0/IO/__pycache__/IO_Utils.cpython-39.pyc
V1.0/IO/Parser/__pycache__/CsvParser.cpython-39.pyc
V1.0/IO/Parser/__pycache__/JsonParser.cpython-39.pyc
V1.0/IO/Parser/__pycache__/MatlabParser.cpython-39.pyc
V1.0/IO/Parser/__pycache__/PickleParser.cpython-39.pyc
V1.0/IO/Parser/__pycache__/XRayDetectorDataParser.cpython-39.pyc
V1.0/libarys/__pycache__/AxisTransformFit.cpython-39.pyc
V1.0/libarys/__pycache__/AzimuthalIntegrator.cpython-39.pyc
V1.0/libarys/__pycache__/PseudoVoigtFit.cpython-39.pyc
V1.0/Multiprocessing/__pycache__/Pool.cpython-39.pyc
V1.0/Tasks/__pycache__/AxisTransformationFitTask.cpython-39.pyc
V1.0/Tasks/__pycache__/AzimuthalIntegrationTask.cpython-39.pyc
V1.0/Tasks/__pycache__/PseudoVoigtFitTask.cpython-39.pyc
V1.0/Tasks/__pycache__/TaskRegister.cpython-39.pyc
V1.0/Tasks/Config/__pycache__/TaskConfigs.cpython-39.pyc
V1.0/Utils/__pycache__/Param.cpython-39.pyc
V1.0/GUI/__pycache__/GUI.cpython-39.pyc
V1.0/GUI/__pycache__/GUI.cpython-39.pyc
V1.0/IO/__pycache__/IO_Utils.cpython-39.pyc
V1.0/libarys/__pycache__/AzimuthalIntegrator.cpython-39.pyc
V1.0/Tasks/__pycache__/AxisTransformationFitTask.cpython-39.pyc
V1.0/Tasks/__pycache__/AzimuthalIntegrationTask.cpython-39.pyc
V1.0/Tasks/__pycache__/PseudoVoigtFitTask.cpython-39.pyc
V1.0/Tasks/__pycache__/TaskRegister.cpython-39.pyc
V1.0/Utils/__pycache__/Param.cpython-39.pyc
